/*Individual Characteristics*/

hr
{
  border: 0 none;
  height: 2px;
  background-color: #000000;
}

p.boldened_para
{
  font-family: Oswald;
  font-size: 400%;
  font-weight: 300;
}

p.small_text_colored
{
  font-size: 150%;
  background-size: 25% 50px;
  line-height: 50px;
}

a.s_t_c
{
  width: 25%;
  height: 50px;
}

/*Shared Characteristics*/

p.small_text_colored, p.boldened_para
{
  color: #000000;
  background-color: #99ddff;
  border-style: solid;
  border-width: 1px;
}

p.small_text_colored, p.boldened_para, a.s_t_c, a.b_p
{
  text-decoration: none !important;
  margin: 0 auto;
  text-align: center;
}

p.boldened_para, a.b_p
{
  width: 75%;
  height: 75%;
}

a.b_p, a.s_t_c
{
  display: block;
}